@import '@/shared/styles/index.scss';

.form {
  // instead of mixin/extend, write flex manually
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.created {
  font-family: 'Quicksand', sans-serif;

  // manual flex again
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 20px;
  color: $orange-255;

  & > h2 {
    // writing font-size, line-height directly (instead of mixin)
    font-size: 36px;
    line-height: 1.6;
    font-weight: 600;
  }

  & > p {
    width: 100%;
    height: auto;

    font-size: 28px;
    line-height: 1.6;
    font-weight: 400;
  }
}
